@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>This is a sacrament meeting planner application. Use it to create meetings and speakers. 
    This is a simple, easy, and quick way to look at the sacrament meeting program without scrambling find a paper copy.
    Enjoy!
    </p>
